/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2, h3 {
    color: #2c3e50;
}

p {
    color: #333;
    line-height: 1.6;
}

/* Encabezado */
header {
    background-color: #db9834f1;
    color: white;
    padding: 20px 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 80px;
    height: auto;
    margin-right: 20px;
}

.titulo {
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 5px 0 0;
    font-style: italic;
}
/* Barra de Navegación */
nav {
    background-color: #2c3e50;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Sección de Bienvenida */
#bienvenida {
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#bienvenida h2 {
    margin-top: 0;
}

/* Galería de Imágenes */
#galeria {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.imagenes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imagenes img {
    width: 40%;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagenes img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Sección de Noticias */
#noticias {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.noticia {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.noticia h3 {
    color: #2bb929;
}

/* Pie de Página */
footer {
    background-color: #2c3e50c0;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
}

